#body{
    background: bisque;
	font: 12px Arial, Helbetica;
}
.tb1{
    background-color: burlywood;
    border-collapse: collapse;
    border: 1px;
    width: 50%;
    height: auto;
    font-size: medium;